* {
  box-sizing: border-box;
  }
  
  .servicer {
    width: 95%;
    text-align: center;
    overflow: hidden;
  }
  

.services {
    display: flex;
    padding: 16px 32px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    background-color: #ffffff;
    border-radius: 25px;
    scroll-behavior: smooth;
   
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }

/* Scroll Design */

  .services::-webkit-scrollbar {
    width: 5%;
    height: 15px;
    display: none;
  }
  .services::-webkit-scrollbar-thumb {
    background: #ff0000;
    border-radius: 100px;
  }
  .services::-webkit-scrollbar-thumb:hover {
    background: #15ff00;
    border-radius: 100px;

  }
  .services::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 50px;
  }

  /* Services */

  .services > div {
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  .services > div:target {
  /*   transform: scale(0.8); */
  }
  .servicer > a {
    display: inline-flex;
    padding: 15px;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: 0 0 0.5rem 0;
    position: relative;
    cursor: pointer;
  }
  .servicer > a:active {
    top: 1px;
    color: rgb(255, 238, 0);
  }
  .servicer > a:focus {
    background: #ffe0e0;
    color: black;
    color: black;
    border: 2px solid #555555;
  }
   
  html, .sheba {
    height: 100%;
    overflow: hidden;
  }
  sheba {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffe0e0;
    font-family: 'Ropa Sans', sans-serif;
  }
  

object { margin: 15px; }

  object:hover {
    border-radius: 15px;
    box-shadow: 0 0 20px 10px rgba(0, 140, 186, 0.5);}
